.up-header {
    position: absolute;
    top: 2%;
    left: 0;
    width: 100%;
    padding: 0.5rem 2rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    max-width: 140px;
    max-height: 47.11px;
    width: 100%;
    height: 100%;
}

.logo img {
    width: 100%;
    height: 100%;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    transition: 2s;
}

.logo img:hover {
    backdrop-filter: blur(10px);
}

.navigation {
    max-width: 450px;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-list a {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 1rem;
    color: whitesmoke;
    font-weight: 500;
    margin-left: 2rem;
}

.nav-list a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 1px;
    background-color: whitesmoke;
    border-radius: 1.3px;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-list a:hover::after {
    transform: scaleX(1);
}

.login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 500;
    width: 140px;
    height: 47.11px;
    border-radius: 1rem;
    background: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.5s;
}

.login-btn:hover {
    background-color: whitesmoke;
    color: #444;
}

.cover {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.slider .coverSlide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.coverSlide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease;
}

.coverSlide.active img {
    opacity: 1;
}

.coverSlide .left-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-100%);
    transition: 0s;
}

.coverSlide.active .left-info {
    transform: translateX(0);
    z-index: 1;
    transition: .5s ease;
}

.left-info .penetrate-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.penetrate-blur h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 250px;
    color: whitesmoke;
}

.left-info .content {
    position: absolute;
    bottom: 8%;
    left: 10%;
    color: whitesmoke;
}

.content h3 {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.content p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    margin: 1rem 0;
}

.content .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid whitesmoke;
    background: transparent;
    border-radius: 6px;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: whitesmoke;
    font-weight: 600;
    transition: .5s;
}

.content .btn:hover {
    background-color: whitesmoke;
    color: #444;
}

.coverSlide .right-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    transition: 0s;
}

.coverSlide.active .right-info {
    transform: translateX(0);
    z-index: 1;
    transition: .5s ease;
}

.right-info h1 {
    font-size: 250px;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.right-info h3 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 50px;
    color: whitesmoke;
    transform: translateY(220%);
    margin-left: 1rem;
}

.slider-nav {
    position: absolute;
    bottom: 8%;
    right: 3%;
    z-index: 2;
}

.slider-nav span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    background: transparent;
    color: whitesmoke;
    cursor: pointer;
    margin-left: 25px;
    transition: .5s;
}


.slider-nav span:hover {
    background: whitesmoke;
    color: #444;
}


/* cookie */

.cookie-wrapper {
    position: absolute;
    z-index: 3;
    right: 0.1px;
    bottom: 50px;
    max-width: 450px;
    width: 100%;
    padding: 5px 10px;
    background: #444;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transition: right 1s ease;
}

.cookie-wrapper.show {
    right: 200px;
}

.cookie-wrapper.inActive {
    display: none;
}

.cookie-data {
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
}

.cookie-data i {
    color: coral;
    font-size: large;
    margin-bottom: 10px;
}

.cookie-data p a {
    color: coral;
}

.cookie-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-evenly;
}

.cookie-buttons .button {
    border: 1px solid coral;
    border-radius: 6px;
    background-color: coral;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    padding: 0.5rem;
    transition: .5s;
    cursor: pointer;
}

.cookie-buttons .button:hover {
    background-color: #444;
    color: coral;
}

/* LOGIN PAGE*/

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../images/main.page/1\ \(20\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    transition: height .2s ease;
    overflow: hidden;
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}


.wrapper .form-box.register {
    position: absolute;
    transform: translateX(400px);
    transition: none;
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2rem;
    color: rgba(255, 255, 255, .8);
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    margin: 20px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: rgba(255, 255, 255, .5);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, .5);
    font-family: 'Poppins', sans-serif;
    padding: 0 20px 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, .5);
    line-height: 60px;
}

.input-box p {
    font-family: 'Poppins', sans-serif;
    margin-top: 3px;
}

.remember-forgot {
    font-size: 1rem;
    color: rgba(255, 255, 255, .5);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.remember-forgot label input {
    accent-color: rgba(255, 255, 255, .5);
}

.remember-forgot a {
    color: rgba(255, 255, 255, .8);
}

.remember-forgot a:hover {
    color: white;
}

.reg-log-btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #444;
    background: rgba(255, 255, 255, .8);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.reg-log-btn:hover {
    color: rgba(255, 255, 255, .5);
    background-color: #444;
}

.login-register {
    font-size: 1rem;
    color: rgba(255, 255, 255, .5);
    text-align: center;
    font-weight: 500;
    margin: 30px 0 30px 0;
}

.login-register p a {
    font-size: 1rem;
    color: rgba(255, 255, 255, .8);
    font-weight: 600;
}

.login-register p a:hover {
    color: white;
}

/* HOME PAGE */
.cover-section {
    background-image: url(../images/main.page/1\ \(8\).jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.cover-section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    width: 100%;
    font-size: 150px;
    color: rgba(255, 255, 255, .5);
    padding-top: 250px;

}

/* Section One*/

.section-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    background-image: linear-gradient(#1D2021, #444);
    padding: 6.25rem 0;
}

.sec-one-block {
    max-width: 250px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sec-one-block i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 32px;
    color: snow;
}

.sec-one-block span {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: snow;
    margin: 2rem 0;
}

.sec-one-block p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: snow;
}

/* Section About Us*/

.section-about-us {
    background-image: url(../images/main.page/1\ \(3\).jpg);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    padding: 200px 0px;
}

.section-about-us-ovarley {
    background-color: #1D2021;
    opacity: 0.4;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.section-about-us h2 {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    color: snow;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1rem;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5em;
}

/*Section About Us Description*/

.section-about-us-descr {
    padding: 4rem 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 40px;
    background-image: linear-gradient(#1D2021, #444);
}

.section-about-us-descr p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: snow;
}


/* section contact */

.section-contact {
    background-image: url(../images/main.page/1\ \(4\).jpg);
    height: 100vh;
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 1rem 0;
}

.section-contact-header {
    padding: 1rem 0;
    color: snow;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1rem;
    font-size: 30px;
    font-weight: 700;
    line-height: 7rem;
    font-style: normal;
    text-align: center;
}

.section-block-cont {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.contact-block-one {
    max-width: 430px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.contact-block-one h2 {
    margin: 1rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.8rem;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: snow;
}

.contact-block-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.contact-block-list a {
    color: snow;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    margin: 1rem;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.contact-block-list a:hover {
    color: coral;
}

.contact-block-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 430px;
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.contact-block-two h2 {
    margin: 1rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.8rem;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: snow;
}

.form-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 400px;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    margin-left: 2rem;
}

.form-wraper label {
    color: snow;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 0.1rem;
}

.input-element {
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    width: 60%;
    height: 1.5rem;
    color: snow;
}

.text-element {
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    width: 60%;
    max-height: 50px;
    height: 100%;
    color: snow;
    resize: none;
}

.comfirm-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 500;
    max-width: 140px;
    width: 100%;
    height: 47.11px;
    border-radius: 1rem;
    background: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 2px;
}

.comfirm-button:hover {
    color: #444;
    background-color: whitesmoke;
}

/* scroll to top */

.chevron-to-top {
    display: none;
}

.chevron-to-top.topActive {
    position: fixed;
    max-width: 30px;
    width: 100%;
    height: 30px;
    right: 30px;
    bottom: 30px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

.chevron-to-top:hover {
    background-color: whitesmoke;
    color: #444;

}

.fa-chevron-up {
    font-size: 1rem;
}

/* trips page */

.trips-body {
    min-height: 100vh;
    background-image: linear-gradient(#1D2021, #444);
}

.trips-ul {
    width: 100%;

    padding: 0 300px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.trips-ul li {
    max-width: 80px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}

.trips-ul li:hover {
    background-color: whitesmoke;
    color: #1D2021;
}

.trips-ul li a {
    color: whitesmoke;
    transition: 0.5s;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
}

.trips-ul li a:hover {
    color: #1D2021;
}


.trips-list-conteiner {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.trips-list {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    max-width: 150px;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    display: none;
}

.trips-list.show {
    display: block;
}