.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 2rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    max-width: 140px;
    max-height: 47.11px;
    width: 100%;
    height: 100%;
}

.logo img {
    width: 100%;
    height: 100%;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    transition: 0.5s;
}

.logo img:hover {
    border: 2px solid whitesmoke;
}

.navigation {
    max-width: 450px;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-list a {
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    margin-left: 2rem;
}

.nav-list a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 1px;
    background-color: whitesmoke;
    border-radius: 1.3px;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-list a:hover::after {
    transform: scaleX(1);
}

.login-btn {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 500;
    width: 140px;
    height: 47.11px;
    border-radius: 1rem;
    background: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    transition: 0.5s;
}

.login-btn:hover {
    background-color: aliceblue;
    color: #444;
}

.cover {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease;
}

.slide.active img {
    opacity: 1;
}

.slide .left-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-100%);
    transition: 0s;
}

.slide.active .left-info {
    transform: translateX(0);
    z-index: 1;
    transition: .5s ease;
}

.left-info .penetrate-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.penetrate-blur h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 250px;
    color: #fff;
}

.left-info .content {
    position: absolute;
    bottom: 8%;
    left: 10%;
    color: #fff;
}

.content h3 {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.content p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    margin: 1rem 0;
}

.content .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid white;
    background: transparent;
    border-radius: 6px;
    border-radius: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 600;
    transition: .5s;
}

.content .btn:hover {
    background-color: #fff;
    color: #444;
}

.slide .right-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    transition: 0s;
}

.slide.active .right-info {
    transform: translateX(0);
    z-index: 1;
    transition: .5s ease;
}

.right-info h1 {
    font-size: 250px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.right-info h3 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 50px;
    color: #fff;
    transform: translateY(220%);
    margin-left: 1rem;
}

.slider-nav {
    position: absolute;
    bottom: 8%;
    right: 3%;
    z-index: 99;
}

.slider-nav span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 6px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin-left: 25px;
    transition: .5s;
}